results_scatlas/results_metacell_Nvec_filt/*.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/*.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/*.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/*.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/*.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/*.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.mcs_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.mcs_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.cts_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.mcs_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.mcs_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.mcs_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.cts_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.mcs_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.cts_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.cts_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.cts_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.mcs_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.mcs_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.cts_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.mcs_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.mcs_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.cts_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.cts_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.cts_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.mcs_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.cts_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.cts_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.cts_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.mcs_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.seurat_final.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.mcs_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.cts_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.cts_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.cts_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.seurat_final.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.cts_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.seurat_final.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.seurat_final.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.cts_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.seurat_final.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.cts_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.mcs_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.cts_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.mcs_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.mcs_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.mcs_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.mcs_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.cts_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.cts_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.seurat_final.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocuarb_filt/dat.Ocuarb.expression.cts_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.mcs_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Amil_filt/dat.Amil.expression.mcs_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Nvec_filt/dat.Nvec.expression.cts_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.mcs_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Xesp_filt/dat.Xesp.expression.mcs_umicount.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.cts_umifrac.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Ocupat_filt/dat.Ocupat.expression.mcs_fracell.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/results_metacell_Spin_filt/dat.Spin.expression.mcs_fp.rds filter=lfs diff=lfs merge=lfs -text
results_scatlas/annotate_3p/reannotate_Amil_genes.gtf filter=lfs diff=lfs merge=lfs -text
results_scatlas/annotate_3p/reannotate_Ocuarb_genes.gtf filter=lfs diff=lfs merge=lfs -text
results_scatlas/annotate_3p/reannotate_Ocupat_genes.gtf filter=lfs diff=lfs merge=lfs -text
results_scatlas/annotate_3p/reannotate_Spis_genes.legacy.gtf filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_pairs.transcripts.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_conservation.possvm.dollo_pres.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_conservation.possvm.dollo_summary.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_pairs.genes.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_pairs.transcript.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_conservation.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_conservation.possvm.dollo_loss.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_conservation.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_conservation.possvm.dollo_gain.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Anthozoa_plus/orthogroup_conservation.possvm.dollo_loss.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_pairs.genes.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_conservation.possvm.dollo_gain.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_conservation.possvm.dollo_pres.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_Metazoa_plus/orthogroup_conservation.possvm.dollo_summary.csv filter=lfs diff=lfs merge=lfs -text
data/orthology_*/*txt filter=lfs diff=lfs merge=lfs -text
data/orthology_*/*tsv filter=lfs diff=lfs merge=lfs -text
data/reference/Turdoh_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Xesp_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Actieq_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Chem_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Astrub_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Dmel_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Gasp_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Gfas_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Pocdam_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Acrcer_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Adig_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Hvul_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_all.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Tadh_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Amil_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Dgig_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Dialin_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Hydrsy_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Moncap_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Aaur_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Amil.TE.all.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Hsap_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Lgig_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Metsen_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Mmus_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Pricau_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Bralan_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Exapal_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Scocal_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Owefus_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Pocver_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Skow_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Spur_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Haloct_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_all.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Rhoesc_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Hhon_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Nvec_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb.TE.all.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat.TE.all.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Porlut_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Spis_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Acrpal_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Fspp_long.annot.gtf filter=lfs diff=lfs merge=lfs -text
data/reference/Pocver.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Porlut.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Spis.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Acrcer.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Amil.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Dialin.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Exapal.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Fspp.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Xesp.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Gfas.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Pocdam.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Acrpal.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Dgig.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Metsen.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Nvec.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Scocal.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Actieq.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Adig.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Gasp.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb.TE.all.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat.TE.all_nocds.gff3 filter=lfs diff=lfs merge=lfs -text
data/reference/Turdoh_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Chem_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Hydrsy_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Metsen_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_all.annot.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Exapal_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Dialin_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Hvul_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Pocver_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Adig_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_all.annot.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Scocal_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Porlut_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Hsap_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Nvec_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Aaur_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Dgig_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Fspp_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gfas_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Pocdam_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Spis_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Xesp_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Acrpal_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gasp_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Haloct_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Moncap_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Acrcer_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Actieq_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Amil_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Rhoesc_long.pep.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Chem_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Fspp_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gfas_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Rhoesc_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Xesp_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Acrcer_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Pocdam_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Aaur_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Dgig_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Exapal_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gasp_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Metsen_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Moncap_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Nvec_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Porlut_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Amil_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Turdoh_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Spis_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Actieq_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Adig_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Dialin_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Hsap_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Scocal_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Acrpal_long.cds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Hydrsy_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Metsen_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Rhoesc_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Exapal_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Fspp_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gfas_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Moncap_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Nvec_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Acrpal_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Actieq_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Dialin_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Porlut_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Scocal_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Haloct_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Pocver_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Aaur_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Amil_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gasp_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Pocdam_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Spis_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Xesp_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Acrcer_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Adig_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Dgig_gDNA.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Gfas_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Moncap_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Actieq_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Fspp_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Rhoesc_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Chem_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Exapal_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Hydrsy_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Adig_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Metsen_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Aaur_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Dialin_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Nvec_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Porlut_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Spis_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Acrcer_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Xesp_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Gasp_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Hsap_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Pocdam_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Pocver_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Acrpal_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Amil_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Dgig_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Haloct_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Scocal_gDNA.fasta.fai filter=lfs diff=lfs merge=lfs -text
data/reference/Ocupat_gDNA.all_scaffolds.fasta filter=lfs diff=lfs merge=lfs -text
data/reference/Mmus_MGI.gaf filter=lfs diff=lfs merge=lfs -text
data/reference/Ocuarb.TE.all.bed filter=lfs diff=lfs merge=lfs -text
